@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.App {
  font-family: 'Lato', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: white;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 100px 30%;
}
.App-logo {
  padding-top: 20px;
  height: 10vmin;
  pointer-events: none;
  max-width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
