@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.App {
  font-family: 'Lato', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: white;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px 30% 30px 30%;
}
.App-logo {
  padding-top: 20px;
  height: 100px;
  pointer-events: none;
  max-width: 100%;
}

.App-link {
  color: #61dafb;
}
.info-wrapper {
  display: flex;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  padding: 0 50px;
}
@media (max-width: 992px) {
  .App-header {
    padding: 30px 10%;
  }
  .App-logo {
    height: 100px;
  }
}
